h1 {
    border: 2px #eee solid;
    color: brown;
    text-align: center;
    padding: 20px;
}

h2 {
    border: 2px #eee solid;
    color: black;
    text-align: center;
    padding: 12px;
}
h4 {
    color: green;
}
