{% extends "base.html" %}

{% block content %}
{% if message %}
    <h3>{{ message }}</h3>
{% else %}
    <h1>Edit Post</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ current_user.username }} editing post......
        </p>
        <p>
            {{ form.body.label }}<br>
            {{ form.body (size=80 ) }}<br>
            {% for error in form.body.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <input type="submit" class="btn btn-primary" value="Send">
    </form>
{% endif %}
{% endblock %}
